.main_mikuji{
	width		:500px;
	height		:400px;
	background	:#ffe0f0;
}

.mikuji_box{
	position	:relative;
	width		:300px;
	height		:300px;
	background	:#f0fab0;
	border		:20px solid #E0D558;
}

.mikuji_box_cover{
	display			:none;
	position		:absolute;
	top				:0;
	left			:0;
	width			:300px;
	height			:300px;
}

.mikuji_box_0{
	position	:absolute;
	top			:25px;
	left		:75px;	
	width		:150px;
	height		:250px;
}

.mikuji_img_0{
	position	:absolute;
	bottom		:0;
	left		:0;
	width		:150px;
	height		:250px;
}

.mikuji_img_1{
	position:absolute;
	bottom		:0;
	left		:38px;
	width		:22px;
	height		:150px;
}

.mikuji_img_2{
	position:absolute;
	bottom		:0;
	left		:0;
	width		:150px;
	height		:185px;
}

.mikuji_f0{
	position	:fixed;
	top			:-50px;
	left		:20px;
	z-index		:2;
}

.hand{
	position	:absolute;
	left		:0;
	right		:0;
	bottom		:50px;
	margin		:auto;
	width		:50px;
	height		:50px;
	animation	:a_hand 2s infinite;
	transform-origin: center bottom;
}

@keyframes a_hand{
	0%	{transform:rotate(0);}
	5%	{transform:rotate(15deg);}
	10% {transform:rotate(-15deg);}
	15% {transform:rotate(0);}
	100% {transform:rotate(0);}
}
